.txtDemo1 {
    color: red;
    font-size: 52px;
    font-weight: bold;
}

.txtDemo2 {
    color: blue;
    font-size: 59px;
    font-weight: bold;
}

.myBgColor {
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}